.post-details h2 {
  font-size: 20px;
  color: var(--pink-500);
  margin-bottom: 10px;
}

.post-details div {
  margin: 20px 0;
}

.post-details button {
  background: var(--pink-500);
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}